@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

:root {
    --primary: #88d5bf;
    --secondary: #868ff1;
    --tertiary: #f3b389;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;  
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'inter';
    background: linear-gradient(
    180deg,
    var(--secondary) 0%,
    var(--tertiary) 100%)
}

#weather-container {
    text-align: center;
    background:transparent;
    padding: 20px;
    border: 30px outset #f3b389;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

#locationInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4c6faf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #164bad;
}

#weatherInfo {
    margin-top: 20px;
}

#otherInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

